/example1
*.o
/example2
/sa-sentiment-analysis/sa
.cache/
/mo-machine-outlier/mo
/sa-sentiment-analysis/sa-test-output.txt
/sa-sentiment-analysis/twitterexample.json
/sa-sentiment-analysis/metric-latency.json
/sa-sentiment-analysis/metric-interdeparture-time.json
/sa-sentiment-analysis/metric-individual-sink-interdeparture-time.json
/sa-sentiment-analysis/metric-service-time.json
